   <!-- Start Preloader Area -->
<div class="profile-authentication-area large-gap">
    <div class="container">
        <div class="forgot-password-form">
            <h2>Forgot Password</h2>

            <form>
                <div class="form-group">
                    <label>Enter your email</label>
                    <input type="email" class="form-control">
                </div>
                <button type="submit" class="default-btn">Submit Now</button>
            </form>
        </div>
    </div>

    <div class="home-btn-icon">
        <a href="@Url.Action("Index", "Home")"><i class="flaticon-home"></i></a>
    </div>
</div>
<!-- End Preloader Area -->
